@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    margin:0px;
}
header{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    width:100%;
    height: 665px;
    background-repeat: no-repeat;
}
header>div:nth-of-type(1){
    width:100%;
    height: 100%;
    background-color:black;
    opacity: .6;
    z-index: 1;
}
header>div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -550px;
}
header h1{
    color: white;
    text-transform: uppercase;
    font-size: 85px;
    font-weight: bold;
    z-index: 99;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -65px;
}
header h2{
    color: #00d999;
    text-transform: uppercase;
    font-size: 78px;
    z-index: 99;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -60px;
}
header>div:nth-of-type(2)>div a{
    color:white;
    padding:25px 25px 25px 25px;
    border:2px solid white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 20px;
    font-style: bold;
    transition-duration: 1s;
}
header>div:nth-of-type(2)>div{
    margin-top:140px;
    z-index: 9999;
    display:flex;
    justify-content: space-around;
    width:500px;
}
header>div:nth-of-type(2)>div a:hover{
    background-color: #00d999;
    border:2px solid  #00d999;
}


nav{
    width:100%;
    height: 100px;
    display:flex;
    justify-content: space-around;
    box-shadow: 0 0 8px;
}
nav>div:nth-of-type(2){
    display:flex;
    justify-content: space-around;
    width:55%;
}
nav>div:nth-of-type(2) a{
    text-decoration: none;
    color:black;
    font-style:bold;
    margin-top: 30px;
    text-transform: uppercase;
    transition-duration: 1s;
}
nav>div:nth-of-type(2)>a>h1{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
nav>div:nth-of-type(2)>a:nth-of-type(8){
    margin-right: -20px;
}
nav>div:nth-of-type(2) a:hover{
    color:#00d999;
}

.vern1{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.vern1 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}
.vern1 h1>b{
    color:#00d999;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}
.vern1 hr{
    display:inline-block;
    width:60px;
    height: 2px;
    border: 1px solid transparent;
    background-color: rgb(70, 67, 67);
    margin-top:-10px;
}
.vern1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color:rgb(70, 67, 67);
    text-align: center;
    width:60%;
}


#home{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: auto;
    grid-row-gap:30px; 
    padding:0px 120px 60px 120px;
}
#home>div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#home>div>div{
    width:120px;
    height: 120px;
    border:1px solid #00d999;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    transition-duration: 1s;
}
#home>div>div img{
    width:80%;
    height: 80%;
    margin-top:15px;
}
#home>div hr{
    display:inline-block;
    width:100%;
    border:1px solid transparent;
    background-color: rgb(70, 67, 67);
    transition-duration: 1s;
}
#home>div p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:rgb(70, 67, 67);
    text-align: center;
}
#home>div h1{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color:rgb(70, 67, 67);
    padding-top:20px;
    text-align: center;
}
#home>div:hover div{
    background-color: #00d999;
}
#home>div:hover hr{
    transform: scale(1,2);
    background-color:#00d999;
}


#about{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(480px,1fr));
    grid-auto-rows:500px;
    grid-gap:30px; 
    padding:0px 120px 0px 120px;
}
#about>div:nth-of-type(1) div:nth-of-type(1){
    background-color: #00d999;
    width:80%;
    height: 400px;
}
.mek{
    background-image: url(../images/about-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:80%;
    height: 400px;
    margin-top: -375px;
    margin-left: 30px;
    display:flex;
    justify-content: center;
}
.mek a{
    margin-top:170px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    color:white;
    padding: 20px 20px 0px 20px;
    background-color: #00d999;
    margin-bottom:165px;
    opacity: .7;
    z-index: 1;
}
.mek a h1{
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    z-index: 999999;
}
#about>div:nth-of-type(2) h1{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    margin-top:15px;
}
#about>div:nth-of-type(2) h1>b{
    color:#00d999;
}
#about>div:nth-of-type(2) hr{
    display:inline-block;
    width:20%;
    border:1px solid transparent;
    background-color: rgb(70, 67, 67);
}
#about>div:nth-of-type(2) p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:rgb(70, 67, 67);
    text-align: left;
    padding-top:10px;
}
#about>div:nth-of-type(2) a{
    text-decoration: none;
    border:2px solid #00d999;
    color:#00d999;
    padding:15px 20px 15px 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: bold;
    font-size: 16px;
    display:inline-block;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 3px;
    transition-duration: 1s;
}
#about>div:nth-of-type(2) a:hover{
    background-color: #00d999;
    color:white;
}


#hend{
    background-image: url(../images/call-to-action-bg.png);
    width:100%;
    height: 250px;
    background-size: cover;
}
#hend>div:nth-of-type(1){
    width:100%;
    height: 250px;
    background-color: black;
    opacity: .8;
    z-index: 4;
}
#hend>div:nth-of-type(2){
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:-240px;
}
#hend>div:nth-of-type(2) h1{
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    color:white;
    z-index: 9999;
    text-align: center;
}
#hend>div:nth-of-type(2) a{
    text-decoration: none;
    border:2px solid #00d999;
    color:#00d999;
    padding:15px 20px 15px 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: bold;
    font-size: 16px;
    display:inline-block;
    border-radius: 3px;
    transition-duration: 1s;
    z-index: 999;
}
#hend>div:nth-of-type(2) a:hover{
    background-color: #00d999;
    color:white;
}


.vern2{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.vern2 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}
.vern2 hr{
    display:inline-block;
    width:60px;
    height: 2px;
    border: 1px solid transparent;
    background-color: rgb(70, 67, 67);
    margin-top:-10px;
}
.vern2 p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color:rgb(70, 67, 67);
    text-align: center;
    width:60%;
}
#team{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: auto;
    grid-gap: 30px;
    padding:0px 120px 0px 120px;
}
#team>div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#team>div:nth-of-type(1)>div{
    background-image: url(../images/team-member1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:210px;
    height: 210px;
}
#team>div:nth-of-type(2)>div{
    background-image: url(../images/team-member2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:210px;
    height: 210px;
    box-sizing: border-box;
}
#team>div:nth-of-type(3)>div{
    background-image: url(../images/team-member3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:210px;
    height: 210px;
}
#team>div:nth-of-type(4)>div{
    background-image: url(../images/team-member4.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:210px;
    height: 210px;
}
#team>div h1{
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    margin-top:35px;
    transition-duration: 1s;
}
#team>div:hover h1{
    color:#00d999;
}
#team>div>p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-top:-10px;
    font-style: italic;
    color:rgb(70, 67, 67);
}
#team>div>div>div{
   background-color: #00d999;
   width:210px;
   height: 210px;
   border-radius: 50%;
   opacity: .8;
   z-index: 1;
   display:none;
}
#team>div>div>div>p{
   font-family: 'Raleway', sans-serif;
   font-size: 15px;
   color:white;
   text-align: center;
   padding-top: 50px;
   padding-left:15px;
   width:180px;
   z-index: 9999;
}
#team>div>div>div>div{
    display:flex;
    justify-content: center;
    margin-top:20px;
    margin-left: 70px;
}
#team>div>div>div>div> a>img{
    width:30px;
    height: 30px;
    z-index: 9999;
}
#team>div>div>div>div> a:nth-of-type(1){
    padding-right: 5px;
}
#team>div>div>div>div> a:nth-of-type(2){
    padding-left: 5px;
}
#team>div:hover div>div{
   display:inline-block;
}


.vern3{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.vern3 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}
.vern3 hr{
    display:inline-block;
    width:60px;
    height: 2px;
    border: 1px solid transparent;
    background-color: rgb(70, 67, 67);
    margin-top:-10px;
}
.vern3 p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color:rgb(70, 67, 67);
    text-align: center;
    width:60%;
}


#serv{
    width:100%;
    height: auto;
    background-color: rgb(236, 234, 234);
    margin-top:6%;
    padding-bottom:6%;
}

.serv{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows:315px;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    padding:0px 110px 0px 110px;
}
.serv>div{
    
    transition-duration: 1s;
}
.serv>div>img{
    width:80px;
    margin-top: 40px;
}
.serv>div>h1{
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    transition-duration: 1s;
}
.serv>div>p{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:rgb(160, 158, 158);
}
.serv>div>div{
    height: 4px;
    width:100%;
    background-color: #00d999;
}
.serv>div:hover{
    background-color: white;
}
.serv>div:hover div{
   height: 25px;
}
.serv>div:hover h1{
    color: #00d999;
}

.vern4{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.vern4 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}
.vern4 hr{
    display:inline-block;
    width:60px;
    height: 2px;
    border: 1px solid transparent;
    background-color: rgb(70, 67, 67);
    margin-top:-10px;
}
.vern4 p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color:rgb(70, 67, 67);
    text-align: center;
    width:60%;
}


.links{
    display:flex;
    justify-content: center;
    padding-bottom: 50px;
}
.links>div{
   display:flex;
   justify-content: space-around;
   width:600px;
}
.links>div>a{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color:rgb(70, 67, 67);
    transition-duration: 1s;
    border-bottom: 1px solid transparent;
    border-top:1px solid transparent;
    padding: 5px 0px 5px 0px;
}
.links>div>a:hover{
    color:#00d999;
    border-bottom: 1px solid #00d999;
    border-top:1px solid #00d999;
}

.numb{
    background-image: url(../images/counter-bg.jpg);
    background-repeat: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 20%;
    margin-top: 50px
}
.numb>section{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows:250px;
    grid-gap: 30px;
    padding:0px 110px 0px 110px;
    background-color: black;
    opacity: .8;
    z-index: 1;
}
.numb>section>div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.numb>section>div>h1{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    z-index: 999999;
    padding-top: 20px;

}
.numb>section>div>h2{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    z-index: 99999;
    margin-top: -50px;
}


.vern5{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.vern5 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}
.vern5 hr{
    display:inline-block;
    width:60px;
    height: 2px;
    border: 1px solid transparent;
    background-color: rgb(70, 67, 67);
    margin-top:-10px;
}
.vern5 p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color:rgb(70, 67, 67);
    text-align: center;
    width:60%;
}


#price{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows:auto;
    grid-gap: 20px;
    padding:0px 110px 80px 110px;
}
#price>div>div{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:1px solid rgb(173, 171, 171);
}
#price h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color:white;
}
#price>div>div:nth-of-type(1){
    background-color: #00d999;
    border-bottom:none;
    border-top:none;
}
#price>div>div:nth-of-type(2){
    border-top:1px solid #00d999;
}
#price>div>div:nth-of-type(8){
    padding-bottom: 20px;
}
#price h2{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color:#00d999;
}
#price h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color:rgb(131, 131, 131);
}
#price a{
    padding: 13px 60px 13px 60px;
    text-decoration: none;
    color:#00d999;
    font-family:sans-serif;
    border-bottom:2px solid #00d999;
}
#price a:hover{
    background-color: #00d999;
    color:white;
    border-radius: 4px;
}

#say{
    width:100%;
    height: auto;
    background-image: url(../images/testimonial-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#say>div{
    width:100%;
    height: 100%;
    background-color: black;
    opacity: .8;
    z-index: 1;
}

.vern6{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.vern6 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
}
.vern6 hr{
    display:inline-block;
    width:60px;
    height: 2px;
    border: 1px solid transparent;
    background-color: white;
    margin-top:-10px;
}
.vern6 p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color:white;
    text-align: center;
    width:60%;
}

#say>div>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#say>div>div h1{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 80px;
}
#say>div>div h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    margin: 0px;
    padding-top:30px;
}

.vern7{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.vern7 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
}
.vern7 hr{
    display:inline-block;
    width:60px;
    height: 2px;
    border: 1px solid transparent;
    background-color: rgb(70, 67, 67);
    margin-top:-10px;
}
.vern7 p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color:rgb(70, 67, 67);
    text-align: center;
    width:60%;
}

#blog{
    background-color: #F6F6F6;
    padding-bottom: 50px;
}
#blog>section:nth-of-type(2){
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    grid-auto-rows:auto;
    grid-gap: 30px;
    padding:0px 110px 80px 110px;
}
#blog>section:nth-of-type(2) div{
   background-color: white;
}
#blog>section:nth-of-type(2) div>img{
    width:100%;
}
#blog>section:nth-of-type(2) div>h1{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color:black;
    padding-left:20px;
}
#blog>section:nth-of-type(2) div>p{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: rgb(70, 67, 67);
    padding-left:20px;
    font-style: italic;
    margin-top:-20px;
}
#blog>section:nth-of-type(2) div>p>b{
    color:#00d999;
}
#blog>section:nth-of-type(2) div>h2{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:rgb(70, 67, 67);
    padding-left:20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top:30px;
}
.images{
    width:100%;
    height: auto;
    display:flex;
    justify-content: space-around;
}
.images>img{
    padding: 60px 0px 60px 0px;
}

#cont{
    background-image: url(../images/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(480px,1fr));
    grid-auto-rows:auto;
    grid-gap: 30px;
    padding:60px 110px 80px 110px;
    background-attachment: fixed;
}
#cont>div{
    background-color:black;
    opacity: .6;
    z-index: 1;
}
#cont form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
#cont>div:nth-of-type(1){
    width:350px;
}

#cont>div>div h3{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    padding-left:30px;
    z-index: 99999;
    margin-top: 20px;
}
#cont>div>div h2{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-left:30px;
    z-index: 99999;
}
#cont>div>div p{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding-left:30px;
    z-index: 99999;
    padding-bottom: 35px;
}
#cont>div:nth-of-type(2){
    width:750px;
    margin-left:-200px;
}
#cont>div:nth-of-type(2) h3{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    padding-left:40px;
    z-index: 99999;
    margin-top: 20px;
}
form>input{
    height: 40px;
    margin-bottom: 20px;
    border:2px solid white;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: transparent;
}
form>textarea{
    background-color: transparent;
    height: 220px;
    margin-bottom: 40px;
    border:2px solid white;
}
form>button{
    background-color: transparent;
    display: inline-block;
    border:none;
}
form a{
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    color:#00d999;
    transition-duration: 1s;
    border: 1px solid #00d999;
    padding: 20px 35px 20px 35px;
    margin-right: -80%;
}
form a:hover{
    background-color:#00d999;
    color:white;
}
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 30, 30);
}
footer>div{
    margin-top: 150px;
    display:inline-block;
    width:100%;
    border-top: 1px solid silver;
    display:flex;
    justify-content: center;

}
footer>div>h2{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}
footer>div>h2>b{
    color:#00d999;
}

@media only screen and (min-width:200px) and (max-width:800px) and (orientation : portrait) {
    header{
        background-image: url(../images/header-bg.jpg);
        background-size: cover;
        width:100%;;
        height: 665px;
        background-repeat: no-repeat;
        padding-bottom: 60px;
    }
    header>div:nth-of-type(1){
        width:100%;
        height: 100%;
        background-color:black;
        opacity: .6;
        z-index: 1;
        padding-bottom: 60px;
    }
    #hend>div:nth-of-type(2){
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:-240px;
        width:800px;
    }
    #hend>div:nth-of-type(2) h1{
        font-family: 'Raleway', sans-serif;
        color:white;
        z-index: 9999;
        text-align: center;
    }
    header h1{
        color: white;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bold;
        z-index: 99;
        font-family: 'Raleway', sans-serif;
        margin-bottom: -25px;
        text-align: center;
    }
    header h2{
        color: #00d999;
        text-transform: uppercase;
        font-size: 38px;
        z-index: 99;
        font-family: 'Raleway', sans-serif;
        margin-bottom: -20px;
        text-align: center;
    }
    header>div:nth-of-type(2)>div{
        margin-top:140px;
        z-index: 9999;
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    header>div:nth-of-type(2)>div a{
        color:white;
        padding:25px 25px 25px 25px;
        border:2px solid white;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 20px;
        font-style: bold;
        transition-duration: 1s;
        margin-bottom: 20px;
    }
    header>div:nth-of-type(2)>div a:nth-of-type(1){
        padding:25px 58px 25px 58px;
    }
    nav{
        width:100%;
        height: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 8px;
    }
    nav>div:nth-of-type(2){
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    nav>div:nth-of-type(2)>a:nth-of-type(8){
        margin-right: 0px;
    }
    #home{
        display:grid;
        grid-template-columns: repeat(auto-fill,minmax(110px,1fr));
        grid-auto-rows: auto;
        grid-row-gap:30px; 
        padding:0px 80px 60px 80px;
    }
    #about{
        display:grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        grid-auto-rows:500px;
        grid-gap:30px; 
        padding:0px 120px 80px 120px;
    }
    #hend>div:nth-of-type(2) h1{
        font-size: 35px;
        font-family: 'Raleway', sans-serif;
        color:white;
        z-index: 9999;
        text-align: center;
    }
    #hend>div:nth-of-type(2){
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top:-240px;
        width:100%;
    }
    .links>div{
        display:flex;
        flex-direction:column;
        align-items: center;
        width:100%;
    }
     .links>div>a{
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        text-decoration: none;
        color:rgb(70, 67, 67);
        transition-duration: 1s;
        border-bottom: 1px solid transparent;
        border-top:1px solid transparent;
        padding: 5px 0px 5px 0px;
        margin-top: 10px;
    }
    .numb{
        background-color: rgb(85, 83, 83);
        width:100%;
        margin-top: 50px;
        background-image:none;
    }
    #blog>section:nth-of-type(2){
        display:grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        grid-auto-rows:auto;
        grid-gap: 30px;
        padding:0px 110px 80px 110px;
    }
    #blog>section:nth-of-type(2)>div{
        box-shadow: 0 0 10px;
    }
    .images{
        width:100%;
        height: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .images>img{
        padding: 30px 0px 30px 0px;
    }
    #home>div>div>h1{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color:rgb(70, 67, 67);
        padding-top:20px;
        text-align: center;
    }
}