body{
    margin:0px;
}
#cont{
    width:100%;
    height:auto;
    background-color: aquamarine;
}
#cont>section:nth-of-type(2){
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
    grid-auto-rows: 150px;
    grid-gap: 10px;
    padding:50px 430px 100px 430px;
}
#cont>section:nth-of-type(2) div{
    border-radius: 12px;
    box-shadow: 0 0 8px;
    cursor: pointer;
    background-color: white;
    background-size: cover;
}
#quetion{
    display:flex;
    flex-direction: column;
    align-items:center;
}
#quetion>div{
    width:380px;
    display:flex;
    justify-content: space-around;
    margin-bottom: 0px;
}
#quetion>h1{
    font-family: sans-serif;
    font-size: 28px;
    text-transform: capitalize;
}
#quetion>h1>b{
    font-family: sans-serif;
    font-size: 40px;
    color: red;
    text-transform: capitalize;
}
#quetion>div>input{
    width:150px;
    height: 40px;
    background-color: indianred;
    color:black;
    font-size: 30px;
    border:1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    transition-duration: 0.5s;
    cursor: pointer;
    transition: 1s;
}
#quetion>div>input:hover{
    background-color: brown;
    color:white;
    transform: scale(1.05)
}